<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <h1>Hello This is Home Page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae rerum iste a mollitia totam soluta, cum
        inventore harum dolorum illo enim aliquid! Optio cumque, libero laudantium labore tenetur error cum.
    </p>
</body>

</html>